.section_4{
    margin-top: 200px;
}

.section_4 h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
}

.map_wrap{
    width: 1245px;
    height: 815px;
    /* border: 5px solid black; */
    margin: 0 auto;    
}

input {
    display: none;
}

.menu_wrap{
    height: 60px;
    display: flex;
    border: 1px solid #d1d1d1;
    margin-bottom: 58px;
    box-sizing: border-box;
}

.menu{
    width: 50%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    color: #1d1d1d;    
    /* border: 3px solid red; */
    /* margin-bottom: 70px; */
}
 
.menu_1{
    height: 58px;
} 

.menu_2{
    height: 58px;
}

.map_wrap{
    height: 695px;
    position: relative;    
    
}

.map{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;    
    display: none;
    
}

.map_1{
    display: flex;
}

#tab_1:checked~.map_wrap .map_1{
    display: flex;
}

#tab_2:checked~.map_wrap .map_2{
    display: flex;
}

#tab_1:checked~.menu_wrap .menu_1{
    background-color: #0BACE6;
    color: white;
}

#tab_2:checked~.menu_wrap .menu_2{
    background-color: #0BACE6;
    color: white;
}