.section_3{
    /* background-color: rgb(255, 168, 53); */
    height: 758px;
}

.section_3 h2{
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.section_3 .faq_wrap{
    width: 1342px;
    height: 515px;    
    margin: 0 auto;
}


.section_3 .faq_list{
    width: 1342px;
    height: 104px;
    border-bottom: 1px solid #DBDBDB;    
    font-size: 20px;
    font-weight: 500;
    line-height: 104px;
    display: flex;   
}

.faq_list:first-child{
    border-top: 2px solid #1d1d1d;
}

.faq_list:last-child{
    border-bottom: 2px solid #1d1d1d;
}

.faq_list i{
    font-size: 20px;
    line-height: 104px;
    margin: 0 25px;
    color: #1d1d1d;    
}

.faq_list p{
    color: #3b3b3b;
}