.section4_wrap{    
    width: 1342px;
    height: 2176px;    
    margin: 0 auto;
    /* background-color: aqua; */
}


.title_wrap{
    margin-top: 250px;
    width: 100%;
    height: 129px;    
    margin-bottom: 20px;
}

.title_wrap h3{
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #1d1d1d;
}

.title_wrap p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: #1d1d1d;
}

.title_wrap .line{
    width: 266px;
    border: 1px solid #1d1d1d;
    background-color: #1d1d1d;
    margin: 0 auto;    
}

.bidet_service_step{
    width: 1342px;
    height: 345px;    
    display: flex;    
    justify-content: space-between;
    align-items: center;
    
}

.bidet_icon{
    width: 250px;
    height: 250px;
}

.bidet_step_1{
    width: 250px;
    height: 345px;        
}

.bidet_icon_1{    
    background-image: url(../img/card.png);
    background-size: cover;
}

.bidet_step_2{
    width: 250px;
    height: 345px;         
}


.bidet_icon_2{    
    background-image: url(../img/happycall.png);
    background-size: cover;
}


.bidet_step_3{
    width: 250px;
    height: 345px;     
}

.bidet_icon_3{    
    background-image: url(../img/home.png);
    background-size: cover;
}

.bidet_step_4{
    width: 250px;
    height: 345px;       
}

.bidet_icon_4{    
    background-image: url(../img/Corporation.png);
    background-size: cover;
}


.fa-play{
    font-size: 40px;
    margin-bottom: 75px;
}


.bidet_step_box p{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1d;
}

.bidet_service_2{
    margin-top: 200px;
    width: 1342px;
    height: 814px;    
}


.bidet_service_2 h3{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.bidetservice_wrap .sv_course{
    width: 1342px;
    height: 342px;    
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bidetservice_wrap .sv_course2{
    width: 1342px;
    height: 342px;    
}

.bidet_img{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 218, 218);
    border-radius: 30px;
}

.bidet p{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1d;
}

.bidet_be_after{    
    width: 1342px;
    height: 806px;    
    margin-top: 20px;
}   

.bidet_bewrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bidet_before{
    width: 1342px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.bidet_before_img{
    width: 300px;
    height: 300px;
    background-color: lightpink;
    border-radius: 30px;
}

.bidet_after{
    width: 1342px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.bidet_after_img{
    width: 300px;
    height: 300px;
    background-color: lightpink;
    border-radius: 30px;
}

.before_icon{
    width: 1090px;
    height: 40px;    
    display: flex;
    justify-content: space-between;
    margin: 30px auto 30px auto;
}

.fa-circle-arrow-down{
    font-size: 40px;   
}