.section_1{
    width: 1764px;
    height: 90vh;    
    margin: 0 78px;
    box-sizing: border-box;
    display:flex;
}
.title_wrap{ 
    width: 576px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    background-image: url(../img/product_ex_main1.png);
}
.text_box{
    width: 425px;    
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    box-sizing: border-box;
    margin: 138px 76px;
}
.text_box p{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
    color: white;
    margin: 212px 83px;
}
.sub_wrap{
    width: 1188px;
    height: 90vh;
    background-color: bisque;
}
.sub_box_wrap_1{
    width: 1188px;
    height: 45vh;
    /* background-color: blue; */
    background-image: url(../img/product_ex_main2.jpg);
}
.sub_box_wrap_2{
    width: 1188px; 
    height: 45vh;
    box-sizing: border-box;
    /* background-color: gold; */
    display: flex;    
}
.sub_box_1{
    width: 395px;
    height: 45vh;
    /* background-color: green;   */
    background-image: url(../img/product_ex_main3.jpg);
}
.sub_box_2{
    width: 395px;
    height: 45vh;
    /* background-color: blueviolet; */
    background-image: url(../img/product_ex_main4.jpg);
}
.sub_box_3{
    width: 398px;
    height: 45vh;
    /* background-color: black; */
    background-image: url(../img/product_ex_main5.jpg);
}